.content-wrapper {
    display: flex;
}

.nav {
    display: block;
    background: #494949;
    flex: 1;
}

main {
    flex: 5;
}

.nav-heading {
    display: block;
    width: 100%;
    text-align: center;
    margin: .5em auto;
    color: #ffffec;
    font-size: 1.5em;
}

.separator-bar-wrapper {
    display: flex;
    justify-content: center;
  }
  
.separator-bar {
    width: 90%;
    height: .5px;
    background-color: #ffffec;
  }

.nav ul {
    width: auto;
    list-style-type: none;
    padding: 0;
    font-size: 1.5vw;
}

.nav li {
    display: inline-block;
    width: 100%;
    height: auto;
    color: #ffffec;
}

.nav button {
    display: block;
    position: relative;
    width: 85%;
    height: 3em;
    text-align: left;
    font-size: .75em;
    background: #021300;
    color: #67ff78;
    border: none;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: .25s;
}

.nav button:hover {
    background: #67ff78;
    color: #021300;
}

.nav button::after {
    content: "";
    position: absolute;
    left: 100%;
    top: 0px;
    width: 0px;
    height: 0px;
    border-top: 1.5em solid transparent;
    border-left: 1.5em solid #021300;
    border-bottom: 1.5em solid transparent;
    transition: border-left .25s;
}

.nav button:hover:after {
    border-left: 1.5em solid #67ff78;
}