.dropdown-btn {
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #021300;
    margin-top: 15px;
    color: #26de3c;
    border: 3px solid #26de3c;
    padding: 0.5em 1em;
    position: relative;
}

.dropdown-options {
    display: none;
    position: absolute;
    background-color: #021300;
    width: 10vw;
}

.dropdown-container:hover .dropdown-options {
    display: block;
    cursor: pointer;
}

.dropdown-item:hover {
    border: 2px solid #26de3c;
}