.pie-container {
  display: flex;
  justify-content: center;
  padding-top: 5vh;
}

h2 {
  color: #67ff78;
  font-family: monospace;
  letter-spacing: 2px;
  font-size: 42px;
  margin: 5vh 1vw 0vh 0vw;
  text-align: center;
}

h3 {
  color: #67ff78;
  font-family: monospace;
  font-size: 24px;

}

.hyperlink {
  color: #67ff78;
}


.legend-ext{
  display: flex;
  height: min-content;
  margin: 50px;
  padding: 10px;
  border: 5px solid #67ff78;
  background: black;
}

.legend {
  border: 5px dashed #67ff78;
  color: white;
  font-size: 2vw;
  font-family: monospace;
  background: #132300;
}

td {
  padding: .5vw 1vw;
}

.pct-cell {
  text-align: right;
  font-family: 'Courier New', monospace
}

.access-logs-container {
  display: flex;
}

.timeseries-container {
  display: flex;
  background: black;
  border: 2px solid white;
  height: 200px;
  margin: 20px;
  align-items: flex-end;
  gap: 5px;
  padding: 0px 5px 5px 5px;
}

.ts-point {
  flex-grow: 1;
background: white;
}

.ts-dates {
  justify-content: space-between;
}

