.pie-container {
  display: flex;
  justify-content: center;
  padding-top: 3vh;
}

h2 {
  color: #67ff78;
  font-family: monospace;
  letter-spacing: 2px;
  font-size: 42px;
  margin: 5vh 1vw 0vh 0vw;
  text-align: center;
}

h3 {
  color: #67ff78;
  font-family: monospace;
  font-size: 24px;

}

.hyperlink {
  color: #67ff78;
}


.legend-ext {
  display: flex;
  height: min-content;
  margin: 50px;
  padding: 10px;
  border: 5px solid #67ff78;
  background: black;
}

.legend {
  border: 5px dashed #67ff78;
  color: white;
  font-size: 2vw;
  font-family: monospace;
  background: #132300;
}

.legend th {
  text-align: left;
}

.legend td {
  padding: .5vw 1vw;
}

.pct-cell {
  text-align: right;
  font-family: 'Courier New', monospace
}

.access-logs-container {
  display: grid;
  grid-template-columns: 95px auto;
  grid-template-rows: auto auto;
  width: 100%;
  padding-top: 3vh;
}

.y-bg-line {
  position: absolute;
  width: calc(100% - 5px);
  height: 1px;
  padding-right: 3px;
  background: #686868;
  z-index: 0;
}

.x-bg-line {
  position: absolute;
  width: 1px;
  height: calc(100% - 2px);
  background: #686868;
  z-index: 0;
}

.ts-y-labels {
  display: grid;
  text-align: right;
  margin-right: 5px;
}

.ts-point {
  display: flex;
  position: relative; /* This is needed to fix the z-index for some reason */
  flex-grow: 1;
  background: white;
  justify-content: center;
}

.ts-point-tooltip {
  position: absolute;
  visibility: hidden;
  width: auto;
  height: auto;
  transform: translateY(-100%);
  padding: 5px;
  background: black;
  outline: 2px solid black;
  border: 2px solid white;
  z-index: 1;
}

.tooltip-content-wrapper {
  display: flex;
}

.tooltip-point-pie-chart {
  margin: auto .5em auto .5em;
  width: 7em;
  height: 7em;
  border-radius: 7em;
}

h4 {
  text-align: center;
  font-size: 2vw;
}

.tooltip-browser-info {
  color: white;
  font-size: 16px;
  font-family: monospace;
}

.tooltip-browser-info th {
  text-align: left;
}

.ts-point:hover {
  background: #b4b4b4;
}

.ts-point:hover .ts-point-tooltip {
  visibility: visible;
}

.ts-dates {
  display: flex;
  width: 100%;
  justify-content: space-between;
}