body {
  background-color: #132300;
  margin: 0;
}

main {
  color: #ffffec;
  min-height: 100vh;
  font-family: monospace;
  font-size: 18px;
  margin: 0px 15px 0px 15px;
}

h1 {
  color: #67ff78;
  font-family: monospace;
  letter-spacing: 2px;
  font-size: 30px;
}

p {
  padding-left: 15px;
  padding-right: 15px;
}

a {
  color: #67ff78;
}

.multi-img-container {
  display: flex;
  justify-content: center;
}

.multi-square-img {
  object-fit: cover;
  margin: auto 1em auto 1em;
  height: 10em;
  width: 10em;
  border: 2px solid white;
  background-color: black;
  transition: transform .35s;
  z-index: 0;
  cursor: zoom-in;
}

.multi-square-img:hover {
  position: relative;
  object-fit: cover;
  transform: scale(2);
  z-index: 1;
}

/* Nav bar */
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #021300;
  position: relative;
}

header li {
  float: left;
  margin: 0px 20px;
}

header li a {
  display: flex;
  color: #67ff78;
  font-family: monospace;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  padding: 14px 0px;
  background: linear-gradient(to right, #67ff78, #67ff78);
  background-position: bottom left;
  background-size: 0% 5%;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s;
}

header li a:hover {
  background-position: bottom right;
  background-size: 100% 5%;
}

main ul li {
  margin-left: 30px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  height: 50px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #021300;
  position: relative;
}

footer a {
  display: flex;
  color: #757575;
  margin: 5px 20px 5px 20px;
}

.socials {
  display: flex;
  margin-right: 2px;
}

.socials img {
  width: 40px;
  height: auto;
  margin: .25em;
}

/* Global elements */
.breaker-bar-wrapper {
  display: flex;
  justify-content: center;
}

.breaker-bar {
  width: 90%;
  height: 3px;
  background-color: #67ff78;
}