legend {
    color: #67ff78;
    font-family: monospace;
    letter-spacing: 2px;
    font-size: 30px;
}

fieldset {
    border-color: #67ff78;
    margin-right: 15px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

textarea {
    width: 100%;
    min-width: 500px;
    max-width: 90vw;
    height: 150px;
    min-height: 45px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    color: #ffffec;
    background-color: #021300;
    font-size: 16px;
    margin-bottom: 15px;
}

  .email-txt {
    width: 30vw;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    color: #ffffec;
    background-color: #021300;
    font-size: 16px;
    resize: none;
}

.submit-btn {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #021300;
    margin-top: 15px;
    color: #26de3c;
    cursor: pointer;
    border: 3px solid #26de3c;
    padding: 0.5em 1em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
}

.email-regex-warning {
    font-size: 18px;
}

.submit-btn:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}